@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://path-to-sohne-test-font/some-font.css");

body {
  font-family: 'Söhne Test', sans-serif;
      background-color: #f4f4f4;

}

/*  */
.photography-pagination .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background: white;
    opacity: 1;
    margin-top: 20px;
    transform: translateY(40%);display: flex;
    justify-content: flex-end; /* Move to the right */
  
}

.learning-pagination .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background: white;
    opacity: 1;
    margin-top: 280px; 
    display: flex;
    justify-content: flex-end; /* Move to the right */
   
}

